<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <location path="" overrideMode="Allow">

    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="accept, Content-Type, Authorization, DELETE" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>

        <defaultDocument>
            <files>
                <clear />
                <add value="Index.php" />
                <add value="Index.html" />
                <add value="Index.htm" />
                <add value="Index.cfm" />
                <add value="Index.shtml" />
                <add value="Index.shtm" />
                <add value="Index.stm" />
                <add value="Index.php3" />
                <add value="Index.asp" />
                <add value="Index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>

        <handlers accessPolicy="Read, Script">
        	<remove name="PHP54_via_FastCGI" />
            <add name="PHP54_via_FastCGI_suppliers2" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\PHP\v5.4\php-cgi.exe|-d open_basedir=D:\sites\rmgsuppliers.co.uk" resourceType="Either" requireAccess="Script" />
        </handlers>

    </system.webServer>

    </location>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
    </system.webServer>

</configuration>
